* {
	box-sizing: border-box;
	margin-top: 0;
}

html {
	font-size: 10px;
	min-width: 480px;
}

body {
	background-color: $bg-color;
	font-family: $primary-font;
}

a {
	display: inline-block;
}

button {
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

img {
	max-width: 100%;
}
